<a href="https://colab.research.google.com/github/Nymisha-ruby/GRIP-Internship/blob/main/Task8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('/content/drive/MyDrive/owid-covid-data (1).csv')

In [15]:
data.shape

(72775, 59)

In [27]:
data.head()

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.511
1      AFG      Asia  ...           64.83                   0.511
2      AFG      Asia  ...           64.83                   0.511
3      AFG      Asia  ...           64.83                   0.511
4      AFG      Asia  ...           64.83                   0.511

[5 rows x 59 columns]

In [10]:
data.isnull().sum()

iso_code                                     0
continent                                 3607
location                                     0
date                                         0
total_cases                               1046
new_cases                                 1048
new_cases_smoothed                        2049
total_deaths                             10169
new_deaths                               10011
new_deaths_smoothed                       2049
total_cases_per_million                   1438
new_cases_per_million                     1440
new_cases_smoothed_per_million            2436
total_deaths_per_million                 10548
new_deaths_per_million                   10390
new_deaths_smoothed_per_million           2436
reproduction_rate                        14408
icu_patients                             65136
icu_patients_per_million                 65136
hosp_patients                            63590
hosp_patients_per_million                63590
weekly_icu_admissions                    72130
weekly_icu_admissions_per_million        72130
weekly_hosp_admissions                   71546
weekly_hosp_admissions_per_million       71546
new_tests                                39913
total_tests                              40067
total_tests_per_thousand                 40067
new_tests_per_thousand                   39913
new_tests_smoothed                       35312
new_tests_smoothed_per_thousand          35312
positive_rate                            36549
tests_per_case                           37100
tests_units                              34015
total_vaccinations                       69567
people_vaccinated                        69993
people_fully_vaccinated                  70935
new_vaccinations                         70073
new_vaccinations_smoothed                67965
total_vaccinations_per_hundred           69567
people_vaccinated_per_hundred            69993
people_fully_vaccinated_per_hundred      70935
new_vaccinations_smoothed_per_million    67965
stringency_index                         10507
population                                 401
population_density                        4789
median_age                                6661
aged_65_older                             7423
aged_70_older                             7034
gdp_per_capita                            6467
extreme_poverty                          27500
cardiovasc_death_rate                     5826
diabetes_prevalence                       4984
female_smokers                           20131
male_smokers                             20854
handwashing_facilities                   39183
hospital_beds_per_thousand               11480
life_expectancy                           3629
human_development_index                   5885
dtype: int64

In [17]:
data['continent'].value_counts()

Africa           19112
Europe           17582
Asia             17385
North America     8587
South America     4440
Oceania           2062
Name: continent, dtype: int64

In [18]:
data['location'].value_counts()

Mexico              429
Argentina           429
Thailand            426
Taiwan              414
South Korea         409
                   ...
Falkland Islands     16
Montserrat           16
Macao                11
Northern Cyprus       9
Saint Helena          1
Name: location, Length: 215, dtype: int64

In [22]:
print(data['date'].min())
print(data['date'].max())

2020-01-01
2021-03-04

In [24]:
print(data['total_cases'].min())
print(data['total_cases'].max())

1.0
115617955.0

In [25]:
print(data['new_cases'].min())
print(data['new_cases'].max())

-74347.0
879905.0

In [26]:
print(data['total_deaths'].min())
print(data['total_deaths'].max())

1.0
2569413.0